* {
  /* height: 100px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* .bg {
  background-color: #2a0a4a;
  background-image: url('./assets/bg.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
